<div class="alert alert-info" *ngIf="!pais; else divPais">
    Cargando...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col">
            <h1>Pais: {{pais.name.common}}</h1>
        </div>
        <div class="row">
            <img [src]="pais.flags.svg" alt="" style="max-width: 200px">
            <h3 class="mt-3">Información</h3>
            <ul class="list-group">
                <li class="list-group-item"><b>Capital:</b> {{pais.name.official}}</li>
                <li class="list-group-item"><b>Capital:</b> {{pais.capital}}</li>
                <li class="list-group-item"><b>Región:</b> {{pais.region}}</li>
                <li class="list-group-item"><b>Población:</b> {{pais.population}}</li>
                <li class="list-group-item"><b>Zona Horaria:</b> {{pais.timezones}}</li>
            </ul>
        </div>

        <h3 class="mt-2">Traducciones</h3>
        <div class="row"> 
            <div class="col">
                <span class="badge bg-primary me-1">{{pais.translations['ara'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['bre'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['ces'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['cym'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['deu'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['est'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['fin'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['fra'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['hrv'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['hun'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['ita'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['jpn'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['kor'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['nld'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['per'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['pol'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['por'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['rus'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['slk'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['spa'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['swe'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['tur'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['urd'].common}}</span>
                <span class="badge bg-primary me-1">{{pais.translations['zho'].common}}</span>
            </div>
        </div>
    </div>
</ng-template>
